h1{
    Border: 10px;
    color: yellow;
    background-color: gray;
    text-align: center;
    
    
}
.rytham{
  text-align: left;
  color: gold;
  #42445A
  border: 10px solid;
  border-color: black;
  background-color: black;
  
}
